<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mukul.finddoctor">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.CallLogHistoryActivity"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.CallReceiveActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.DialingActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="SignUp"
            android:parentActivityName=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.PhoneEnterActivityActivity"
            android:label="SignUp"
            android:parentActivityName=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.CodeVerificationActivity"
            android:label="Sign Up"
            android:parentActivityName=".Activity.PhoneEnterActivityActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.FindDoctorActivity"
            android:label="Search Doctor"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.DoctorHomeActivity"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.SearchResultActivity"
            android:label="Search Result"
            android:parentActivityName=".Activity.FindDoctorActivity" />
        <activity
            android:name=".Activity.DrPersonalInfoActivity"
            android:parentActivityName=".Activity.DoctorHomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ChamberDetailActivity"
            android:label="Book Appointment"
            android:parentActivityName=".Activity.SearchResultActivity" />
        <activity
            android:name=".Activity.SendBookingActivity"
            android:label="Booking Info"
            android:parentActivityName=".Activity.ChamberDetailActivity" />
        <activity
            android:name=".Activity.RecomendationDetailActivity"
            android:label="Test Recomendation"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.ConfirmedAppointmentDetailActivity"
            android:label="Appointment detail"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ChamberInfoActivity" />
        <activity
            android:name=".Activity.DrChamberListActivity"
            android:label="My Chambers"
            android:parentActivityName=".Activity.DoctorHomeActivity" />
        <activity android:name=".Activity.DrChemberActivity" />
        <activity
            android:name=".Activity.AdddChamberActivity"
            android:label="Add Chamber"
            android:parentActivityName=".Activity.DoctorHomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.VisitActivityDr"
            android:label="Serve this Patient"
            android:parentActivityName=".Activity.DoctorHomeActivity" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:label="History"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.PatientNewHome"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.AppointmentsActivityPatient"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.PatientPendingActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.PatientConfirmedActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.PatientTestRecomActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.VideoCallPatientActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.DrNewHomeActivity"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Activity.DrAllAppointmentsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.DrPendingActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".Activity.DrConfirmedActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:theme="@style/NoTitleBar"
            android:name=".Activity.VideoCallActivityDr"></activity>
    </application>

</manifest>